
{% set compute = salt['grains.filter_by']({
    'Suse': {
        'pkgs': ['openstack-neutron-linuxbridge-agent', 'ipset'],
        'services': ['openstack-neutron-linuxbridge-agent']
    },
}, merge=salt['pillar.get']('neutron:compute')) %}
