
{% set server = salt['grains.filter_by']({
    'Suse': {
        'pkgs': ['openstack-neutron', 'openstack-neutron-server', 'openstack-neutron-linuxbridge-agent', 'openstack-neutron-dhcp-agent', 'openstack-neutron-metadata-agent', 'ipset'],
        'services': ['openstack-neutron', 'openstack-neutron-linuxbridge-agent', 'openstack-neutron-dhcp-agent', 'openstack-neutron-metadata-agent'],
    },
}, merge=salt['pillar.get']('neutron:server')) %}

{% set openstack =  salt['pillar.get']('openstack', {}) %}
